@using HelloTask.ViewModels;
@model HelloHomeViewModel
@{
    ViewData["Title"] = "Hello Page";
}

<div class="container main-block">
	<div class="center-flex">
		<h1 class="text-center fw-bold">Hello, @Model.Name !</h1>
	</div>
</div>